.banner {
	background-image: linear-gradient(rgba(47, 40, 232, 0.85), rgba(47, 40, 232, 0.85)), url('../img/custom/banner.jpg');
	background-size: cover;
	background-position: center;
	/* animation-duration: 20s; */
}

.banner-2 {
	background-image: linear-gradient(rgba(47, 40, 232, 0.85), rgba(47, 40, 232, 0.85)), url('../img/custom/banner-2.jpg');
}

.fluid {
	color: #040426;
}

.about-image {
	object-fit: cover;
	height: 350px;
	width: 350px;
	border-radius: 5px;
}

@media all and (max-width: 600px) {
	.about-image-container {
		display: block;
		width: 100%;
	}

	.about-image {
		width: 100% !important;
	}

	.separator {
		display: grid;
		grid-auto-flow: row;
	}
}

.services {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 200px;
	height: 40px;
	object-fit: cover;
}

.tick-logo {
	width: 50px;
	height: 50px;
}

.tick-logo-icon {
	color: rgba(47, 40, 232);
}

.tick-logo-icon svg {
	width: 20px;
	height: 20px;
	color: white;
}

.tick-logo-icon--white svg * {
	color: white;
	fill: white;
}

.image-fluid-custom {
	width: 335px;
	object-fit: cover;
	height: 185px;
}

.list-of-services {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-start;
	margin-top: 10px;
	column-gap: 30px;
	width: max-content;
	align-items: center;
}

.list-of-services--recruit {
}

@media all and (max-width: 600px) {
	.list-of-services {
		grid-template-columns: 1fr;
	}
}

.about-image-container--expertise {
	width: max-content;
}

.area-expertise {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 40px;
}

@media all and (max-width: 800px) {
	.area-expertise {
		flex-wrap: wrap;
	}
}
