.banner {
	background-image: url('../img/custom/Crank\ Landing\ Page\ Banner\ 01.png');
	background-size: cover;
	background-position: center;
	/* animation-duration: 20s; */
}

.banner-2 {
	background-image: url('../img/custom/Crank\ Landing\ Page\ Banner\ 02.png');
}

.welcome-text {
	text-align: left;
}

.fluid {
	color: #040426;
}

.about-image {
	object-fit: cover;
	height: 350px;
	width: 350px;
	border-radius: 5px;
}

@media all and (max-width: 600px) {
	.about-image-container {
		display: block;
		width: 100%;
	}

	.about-image {
		width: 100% !important;
	}

	.separator {
		display: grid;
		grid-auto-flow: row;
	}
}

.services {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 200px;
	height: 40px;
	object-fit: cover;
}

.tick-logo {
	width: 50px;
	height: 50px;
}

.tick-logo-icon {
	color: rgba(47, 40, 232);
}

.tick-logo-icon svg {
	width: 20px;
	height: 20px;
	color: white;
}

.tick-logo-icon--white svg * {
	color: white;
	fill: white;
}

.image-fluid-custom {
	width: 335px;
	object-fit: cover;
	height: 185px;
}

.list-of-services {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-start;
	margin-top: 10px;
	column-gap: 30px;
	width: max-content;
	align-items: center;
}

.list-of-services h4 {
	font-weight: normal !important;
}

@media all and (max-width: 600px) {
	.list-of-services {
		grid-template-columns: 1fr;
	}
}

.about-image-container--expertise {
	width: max-content;
}

.area-expertise {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 40px;
}

@media all and (max-width: 800px) {
	.area-expertise {
		flex-wrap: wrap;
	}
}

.area-of-expertise,
.services-recruit {
	display: flex;
	flex-direction: column;
}

.services-recruit {
	padding-bottom: 175px;
}

.area-of-expertise-heading,
.services-heading {
	padding-bottom: 91px;
}

.area-of-expertise-heading *,
.services-heading * {
	text-align: center;
	padding: 30px 20% 0;
}

.area-of-expertise-body,
.service-body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 210px));
	/* padding: 0 200px; */
	align-items: center;
	max-width: 90%;
	margin: auto;
	row-gap: 80px;
}

.area-of-expertise-body p,
.service-body p {
	font-weight: 500;
	color: #000000 !important;
}

@media all and (min-width: 800px) {
	.area-of-expertise-body,
	.service-body {
		max-width: 70%;
	}
}

.area-of-expertise-body-item img {
	margin: auto;
	display: block;
}

.area-of-expertise-body img,
.service-body img {
	margin-bottom: 13.92px;
	display: block;
}

.area-of-expertise-body-item * {
	text-align: center;
}

.service-banner {
	padding: 263px 0 259px;
}

.service-banner-image {
	height: 510px;
	object-fit: cover;
}
